{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<br></br>
<br></br>
<center><img src="{% static 'media/tick.82a0d6b9.png' %}" style: { width="100" height="100"} />
<br></br>
<div class='col-12 col-md-4 mx-auto mb-10'>
	<h1 class="mt-2" style="text-align: center; font-size: 22px;">Username Details Emailed</h1>
	<hr class="mt-2 mb-4">

	<body>
		<h1 class="mt-2" style="text-align: center">
		<p>
        We’ve sent you details with your username on your registered email. You should receive them shortly.</p>
        </p>
       
        <br>
        <p>If you don’t receive an email check your spam folder.</p>
        
        </p>
		 </h1>


	</body>
	
</div>
{% endblock content %}  