{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class='col-12 col-md-4 mx-auto mb-10'>
	<h1 class="mt-2" style="text-align: center;">{{ title }}</h1>
	<hr class="mt-0 mb-4">

	<body>
		Forgot your password?
		<br>
		<br>
		Enter your email address below, and we’ll email instructions for setting a new one.</p>
		<br>
		<form method="post">

			{% csrf_token %}
			{{ form|crispy }}

			<div class="text-center">

				<button type='submit' class='btn btn-primary' name="Send email">Submit</button>

			</div>

</div>

</form>

</body>
</br>
</br>
</br>
</br>
</div>
{% endblock content %}