{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<br></br>
<br></br>
<center><img src="{% static 'media/nsaii_logo.b22fce5e.png' %}" style: { width="100" height="100"} />

</br>
</br>
<div class='col-12 col-md-4 mx-auto mb-10'>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
<a href="/login" style="color: blue;">Take me back to Login Page</a>
</br>
</br>
</br>
</div>
{% endblock content %}