{% extends "base.html" %}

{% block content %}
<div class="container mx-auto flex flex-col lg:flex-row mt-3 text-sm leading-normal">
    <div class="w-full lg:w-1/5 pl-4 lg:pl-0 pr-6 mt-8 mb-4">
        <div class="mb-4">
                <a href="/profiles/my_wall/{{username}}">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">My Wall</button>
            </a>
        </div>
        <div class="mb-4">
            <a href="/">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">My Dashboard</button>
            </a>
        </div>
        <div class="mb-4">
            <a href="/profiles/trending_exclamation">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Trending Exclamation</button>
        </div>
        <!-- <div class="mb-4">
            <a href="/">
            <button href="" class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Messages</button>
            </a>
        </div> -->
        <div class="mb-4">
            <a href="/profiles/more_accounts">
            <button href="" class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Who to Follow</button>
            </a>
        </div>
        <div class="mb-4">
            <a href="/">
            <button href="" class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Clack Now</button>
            </a>
        </div>
    </div>

    <div class="flex justify-center w-full lg:w-3/5 bg-white mb-2">
        <div class='tweetme-2-detail' data-tweet-id="{{ tweet_id }}" 
            data-class-name='col-6 mx-auto'>
        </div>
    </div>

    <div class="w-full lg:w-1/5 pl-4">
        <div class="bg-white p-3 mb-3">
        </div>
    </div>
</div>
{% endblock content %}