{% extends 'base.html' %}

{% block content %}
<!-- for mobile zoom -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=0.9, minimum-scale=0.9, maximum-scale=0.9, user-scalable=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"> -->
<!-- <script>
    import React, { useEffect, useState } from 'react'
    let [newUserName, setUserName] = useState();

    const handleNewUsername = (newUserName) => {
        setUserName(newUserName ? newUserName.username : "")
        console.log("user: ", newUserName.username)
    }

    useEffect(() => {
        try {
            let endpoint1 = "/profiles/get_user/username/";
            backendLookup("GET", endpoint1, handleNewUsername)
        } catch (error) {
            console.log("error:", error);
        }
    }, [])
</script> -->
<div id="user-dashboard-view" data-username="{{ username }}" data-requsername="{{ request_username }}"></div>
{% endblock content %}