{% extends 'base.html' %}

{% block content %}
<!-- for mobile zoom -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=0.9, minimum-scale=0.9, maximum-scale=0.9, user-scalable=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"> -->
<!-- <script>
    import React, { useEffect, useState } from 'react'
    let [newUserName, setUserName] = useState();

    const handleNewUsername = (newUserName) => {
        setUserName(newUserName ? newUserName.username : "")
        console.log("user: ", newUserName.username)
    }

    useEffect(() => {
        try {
            let endpoint1 = "/profiles/get_user/username/";
            backendLookup("GET", endpoint1, handleNewUsername)
        } catch (error) {
            console.log("error:", error);
        }
    }, [])
</script> -->
<div class="container mx-auto flex flex-col lg:flex-row mt-3 text-sm leading-normal">
    <div class="w-full lg:w-1/5 pl-4 lg:pl-0 pr-6 mt-8 mb-4">
        <div class="mb-4">
            <!-- <a href="/profiles/my_wall/"+{{username}}> -->
                <a href="/profiles/my_wall/{{username}}">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">My Wall</button>
            </a>
        </div>
        <div class="mb-4">
            <a href="/">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">My Dashboard</button>
            </a>
        </div>
        <div class="mb-4">
            <a href="/profiles/trending_exclamation">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Trending Exclamation</button>
        </div>
        <!-- <div class="mb-4">
            <a href="/">
            <button href="" class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Messages</button>
            </a>
        </div> -->
        <div class="mb-4">
            <a href="/profiles/more_accounts">
            <button href="" class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Who to Follow</button>
            </a>
        </div>
        <div class="mb-4">
            <a href="/">
            <button href="" class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Clack Now</button>
            </a>
        </div>
    </div>

    <div class="flex justify-center w-full lg:w-3/5 bg-white mb-2">
        <!-- profile new -->
        <div class="rounded-3xl overflow-hidden shadow-xl max-w-xs my-3 bg-yellow-500">
            <img src="https://i.imgur.com/dYcYQ7E.png" class="w-full" />
            <div class="flex justify-center -mt-4">
                <!-- <img src="https://i.imgur.com/8Km9tLL.jpg" class="rounded-full border-solid border-white border-2 -mt-3">		 -->
                {% if gender == 'Male' %}
                <img class="h-full" src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortWaved&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light' width="80px" height= "80px"/>
                {% endif %}
                {% if gender == 'Female' %}
                <img class="h-full" src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light' width="80px" height="80px"/>
                {% endif %}
                {% if gender == 'Decline to answer' %}
                <img class="h-full" src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShaggyMullet&accessoriesType=Round&hairColor=BrownDark&facialHairType=Blank&clotheType=Hoodie&clotheColor=Gray01&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light' width="80px" height="80px"/>
                {% endif %}
            </div>
            <div class="text-center px-3 pb-2 pt-2">
                <h3 class="text-white text-sm bold font-sans">Username: {{username}}</h3>
                {%if fn_pa %}
                <p class="mt-2 font-sans font-light text-white">First Name: {{fn_show}}</p>
                {% endif %}
                {% if ln_pa %}
                <p class="mt-2 font-sans font-light text-white">Last Name: {{ln_show}}</p>
                {% endif %}
                {%if gen_pa %}
                <p class="mt-2 font-sans font-light text-white">Gender: {{gen_show}}</p>
                {% endif %}
                {%if dob_pa %}
                <p class="mt-2 font-sans font-light text-white">DOB: {{dob_show}}</p>
                {% endif %}
                {% if pn_pa %}
                <p class="mt-2 font-sans font-light text-white">Contact: {{pn_show}}</p>
                {% endif %}
                {% if em_pa %}
                <p class="mt-2 font-sans font-light text-white">Email: {{em_show}}</p>
                {% endif %}
                {% if em2_pa %}
                <p class="mt-2 font-sans font-light text-white">Secondary Email: {{em2_show}}</p>
                {% endif %}
            </div>
            <hr class="mt-2 mb-2">
            <div class="flex justify-center pb-1 text-white">
                <div class="text-center mr-4 border-r pr-3">
                    <h2>{{fans}}</h2>
                    <span>Fans</span>
                </div>
                <div class="text-center">
                    <h2>{{companions}}</h2>
                    <span>Companions</span>
                </div>
            </div>
            <div class="tweetme-2-profile-badge" data-username={{username}} style="margin:2 auto;padding:2px 2px 2px 2px;"><br/></div>
                <div id='tweetme-2' style="margin:20 auto;padding:2px 2px 2px 2px;" 
                data-username={{username}} data-can-tweet="false"></div>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <!-- <div class="w-full lg:w-1/5 pl-4">
        <div class="bg-white p-3 mb-3"> -->
            <!-- <div>
                <span class="text-lg font-bold">Who to follow</span>
            </div>
            <div class="flex border-b border-solid border-grey-light">
                <div class="py-2">
                    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/tt_follow1.jpg" alt="follow1" class="rounded-full h-12 w-12" /></a>
                </div>
                <div class="pl-2 py-2 w-full">
                    <div class="flex justify-between mb-1">
                        <div>
                            <a href="#" class="font-bold text-black">Vidhi</a> <a href="#" class="text-grey-dark">@vidhi123</a>
                        </div>
                    </div>
                    <div>
                        <button class="bg-transparent text-xs hover:bg-teal text-teal font-semibold hover:text-white py-2 px-6 border border-teal hover:border-transparent rounded-full">
                            Follow
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex border-b border-solid border-grey-light">
                <div class="py-2">
                    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/tt_follow2.jpg" alt="follow1" class="rounded-full h-12 w-12" /></a>
                </div>
                <div class="pl-2 py-2 w-full">
                    <div class="flex justify-between mb-1">
                        <div>
                            <a href="#" class="font-bold text-black">Gagan</a> <a href="#" class="text-grey-dark">@gagan123</a>
                        </div>
                    </div>
                    <div>
                        <button class="bg-transparent text-xs hover:bg-teal text-teal font-semibold hover:text-white py-2 px-6 border border-teal hover:border-transparent rounded-full">
                            Follow
                        </button>
                    </div>
                </div>
            </div>

            <div class="flex border-b border-solid border-grey-light">
                <div class="py-2">
                    <a href="#"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/tt_follow3.jpg" alt="follow1" class="rounded-full h-12 w-12" /></a>
                </div>
                <div class="pl-2 py-2 w-full">
                    <div class="flex justify-between mb-1">
                        <div>
                            <a href="#" class="font-bold text-black">Ketul</a> <a href="#" class="text-grey-dark">@ketulshah</a>
                        </div>
                    </div>
                    <div>
                        <button class="bg-transparent text-xs hover:bg-teal text-teal font-semibold hover:text-white py-2 px-6 border border-teal hover:border-transparent rounded-full">
                            Follow
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex justify-between mb-1">
                <div>
                    <a href="#" class="font-bold text-black">Show more</a>
                </div>
            </div> -->
        <!-- </div>
    </div> -->
</div>
{% endblock content %}