{% extends 'base.html' %}

{% block content %}
<!-- <div class="container mx-auto flex flex-col lg:flex-row mt-3 text-sm leading-normal">
    <div class="w-full lg:w-1/5 pl-4 lg:pl-0 pr-6 mt-8 mb-4">
        <div class="mb-4">
                <a href="/profiles/my_wall/{{username}}">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">My Wall</button>
            </a>
        </div>
        <div class="mb-4">
            <a href="/">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">My Dashboard</button>
            </a>
        </div>
        <div class="mb-4">
            <a href="/profiles/trending_exclamation">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Trending Exclamation</button>
        </div>
        <div class="mb-4">
            <a href="/profiles/more_accounts">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Who to Follow</button>
            </a>
        </div>
        <div class="mb-4">
            <a href="/">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Clack Now</button>
            </a>
        </div>
    </div>

    <div class="w-full lg:w-4/5 bg-white mb-4">
        <div class="flex items-center justify-center h-full bg-gray-100">
            <div class="container">
                {% include "profiles/ReportAdverseForm.html" with form=form btn_label=btn_label %}
            </div>
        </div>
    </div>
</div> -->

<!-- This below is the div which replace the reactjs component for the complete page -->
<div id="tweetme-profile-reportAdverse" data-username="{{ username }}"></div>
<br>
<br>
<br>
{% endblock content %}