{% comment %} {% extends 'base.html' %}

{% block content %}
<div class="container mx-auto flex flex-col lg:flex-row mt-3 text-sm leading-normal">
    <div class="w-full lg:w-1/5 pl-4 lg:pl-0 pr-6 mt-8 mb-4">
        <div class="mb-4">
                <a href="/profiles/my_wall/{{username}}">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">My Wall</button>
            </a>
        </div>
        <div class="mb-4">
            <a href="/">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">My Dashboard</button>
            </a>
        </div>
        <div class="mb-4">
            <a href="/profiles/trending_exclamation">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Trending Exclamation</button>
        </div>
        <div class="mb-4">
            <a href="/profiles/more_accounts">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Who to Follow</button>
            </a>
        </div>
        <div class="mb-4">
            <a href="/">
            <button class="bg-blue-500 text-white font-medium py-2 px-4 rounded-full w-full h-10" style="outline: none;">Clack Now</button>
            </a>
        </div>
    </div>

    <div class="w-full lg:w-4/5 bg-white mb-4">
        <div class="flex items-center justify-center h-full bg-gray-100">
            <div class="container">
                <!-- Replace this below iframe with your form -->
                <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe3Nt4qWVbpqHTo2QwMfviYo2FbknHh7Fk7PnD_pMQTpWFsEA/viewform?embedded=true" width="940" height="8127" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
                {% include "profiles/ReportAdverseForm.html" with form=form btn_label=btn_label %}
            </div>
        </div>
    </div>
</div>

<!-- This below is the div which replace the reactjs component for the complete page -->
<!-- <div id="tweetme-profile-reportAdverse" data-username="{{ username }}"></div> -->
<br>
<br>
<br>
{% endblock content %} {% endcomment %}



{% load crispy_forms_tags %}
<center>
    <form method='POST' enctype="multipart/form-data"> {% csrf_token %}
        {% comment %} {{ form|crispy }} {% endcomment %}
        {{ form.non_field_errors }}

        {% comment %} <div class="form-group" style="text-align: left;">
            <label class="block text-sm font-medium text-gray-700">
                Photo
            </label>
            <div class="mt-1 flex items-center">
                <span class="inline-block h-12 w-12 rounded-full overflow-hidden bg-gray-100">
                    <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                </span>
                <input type="file">
                <button type="button"
                    class="ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Change
                </button>
            </div>
        </div> {% endcomment %}

        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}

        <div class="form-group" style="text-align: left;">

            {% comment %} <label for="{{ form.first_name.id_for_label }}">First Name: </label> {% endcomment %}
            {{ form.first_name |as_crispy_field }}
            {{ form.first_name.errors }}

        </div>

        {% comment %} <div class="form-group" style="text-align: left;">
            Would you like to make it public?
            <label for="first_name_public_access"><input type="radio" name="first_name_public_access" value="True"
                    class="Radio" id="public" required="False">
                Public</label>
            <label for="first_name_public_access"><input type="radio" name="first_name_public_access" value="False"
                    class="Radio" id="nonpublic" required="False">
                NonPublic</label>
        </div> {% endcomment %}

        <div class="form-group" style="text-align: left;">
            Would you like to make it public?
            {% for choice in form.first_name_public_access %}
            {{ choice }}
            {% endfor %}
        </div>

        <div class="form-group" style="text-align: left;">

            {% comment %} <label for="{{ form.last_name.id_for_label }}">Last Name: </label> {% endcomment %}
            {{ form.last_name |as_crispy_field }}
            {{ form.last_Name.errors }}

        </div>
        <div class="form-group" style="text-align: left;">

            {% comment %} <label for="{{ form.username.id_for_label }}">User Name: </label> {% endcomment %}
            {{ form.username |as_crispy_field}}
            {{ form.username.errors }}

        </div>
        <div class="form-group" style="text-align: left;">
            {% comment %} <label for="{{ form.phone_number.id_for_label }}">Phone Number: </label> {% endcomment %}
            {{ form.phone_number |as_crispy_field}}
            {{ form.phone_number.errors }}
        </div>

        {% comment %} <div class="form-group" style="text-align: left;">
            Would you like to make it public?
            <label for="phone_number_public_access"><input type="radio" name="phone_number_public_access" value="True"
                    class="Radio" id="public" required="">
                Public</label>
            <label for="phone_number_public_access"><input type="radio" name="phone_number_public_access" value="False"
                    class="Radio" id="nonpublic" required="">
                NonPublic</label>
        </div> {% endcomment %}

        <div class="form-group" style="text-align: left;">
            Would you like to make it public?
            {% for choice in form.phone_number_public_access %}
            {{ choice }}
            {% endfor %}
        </div>

        <div class="form-group" style="text-align: left;">
            {% comment %} <label for="{{ form.email.id_for_label }}">Email: </label> {% endcomment %}
            {{ form.email |as_crispy_field}}
            {{ form.email.errors }}
        </div>

        {% comment %} <div class="form-group" style="text-align: left;">
            Would you like to make it public?
            <label for="email_public_access"><input type="radio" name="email_public_access" value="True" class="Radio"
                    id="public" required="">
                Public</label>
            <label for="email_public_access"><input type="radio" name="email_public_access" value="False" class="Radio"
                    id="nonpublic" required="">
                NonPublic</label>
        </div> {% endcomment %}

        <div class="form-group" style="text-align: left;">
            Would you like to make it public?
            {% for choice in form.email_public_access %}
            {{ choice }}
            {% endfor %}
        </div>

        <div class="form-group" style="text-align: left;">
            {% comment %} <label for="{{ form.email2.id_for_label }}">Secondary Email (optional): </label>
            {% endcomment %}
            {{ form.email2 |as_crispy_field}}
            {{ form.email2.errors }}
        </div>
        <div class="form-group" style="text-align: left;">
            {% comment %} <label for="{{ form.city.id_for_label }}">City: </label> {% endcomment %}
            {{ form.city |as_crispy_field}}
            {{ form.city.errors }}
        </div>
        <div class="form-group" style="text-align: left;">
            {% comment %} <label for="{{ form.dob.id_for_label }}">DOB: </label> {% endcomment %}
            {{ form.dob |as_crispy_field}}
            {{ form.dob.errors }}
        </div>

        {% comment %} <div class="form-group" style="text-align: left;">
            Would you like to make it public?
            <label for="dob_public_access"><input type="radio" name="dob_public_access" value="True" class="Radio"
                    id="public" required="">
                Public</label>
            <label for="dob_public_access"><input type="radio" name="dob_public_access" value="False" class="Radio"
                    id="nonpublic" required="">
                NonPublic</label>
        </div> {% endcomment %}

        <div class="form-group" style="text-align: left;">
            Would you like to make it public?
            {% for choice in form.dob_public_access %}
            {{ choice }}
            {% endfor %}
        </div>

        <div class="form-group" style="text-align: left;">
            {% comment %} <label for="{{ form.gender.id_for_label }}">Gender: </label> {% endcomment %}
            {{ form.gender |as_crispy_field}}
            {{ form.gender.errors }}
        </div>

        {% comment %} <div class="form-group" style="text-align: left;">
            Would you like to make it public?
            <label for="gender_public_access"><input type="radio" name="gender_public_access" value="True" class="Radio"
                    id="public" required="">
                Public</label>
            <label for="gender_public_access"><input type="radio" name="gender_public_access" value="False"
                    class="Radio" id="nonpublic" required="">
                NonPublic</label>
        </div> {% endcomment %}

        <div class="form-group" style="text-align: left;">
            Would you like to make it public?
            {% for choice in form.gender_public_access %}
            {{ choice }}
            {% endfor %}
        </div>


        <div class="form-group" style="text-align: left;">
            {% comment %} <label for="{{ form.areaOfInterest.id_for_label }}">Area of Interest: </label>
            {% endcomment %}
            {{ form.areaOfInterest |as_crispy_field}}
            {{ form.areaOfInterest.errors }}
        </div>

    </form>
</center>