
<form method='POST' class="mb-3"> {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">

        <label for="{{ form.first_name.id_for_label }}">First Name:</label>
        {{ form.first_name }}
        {{ form.first_name.errors }}

    </div>
    <div class="form-group">

        <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
        {{ form.last_name }}
        {{ form.last_Name.errors }}

    </div>
    <div class="form-group">

        <label for="{{ form.username.id_for_label }}">User Name:</label>
        {{ form.username }}
        {{ form.username.errors }}

    </div>
    <div class="form-group">
        <label for="{{ form.phone_number.id_for_label }}">Phone Number:</label>
        {{ form.phone_number }}
        {{ form.phone_number.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">EmailId:</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.dob.id_for_label }}">DOB:</label>
        {{ form.dob }}
        {{ form.dob.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.gender.id_for_label }}">Gender:</label>
        {{ form.gender }}
        {{ form.gender.errors }}
    </div>
    <div class="form-group">

        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>
    
    <div class="form-group">

        <label for="{{ form.password2.id_for_label }}">Password:</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>
    <button type='submit' class='btn btn-primary'>{% if btn_label %}
        {{btn_label}} {% else %}Save{% endif %}</button>
</form>